In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import pearsonr

In [2]:
df = pd.read_csv('junkfood.csv')

In [3]:
df

     Acne        Food  Frequency
0       5     Burgers         21
1       6   Chocolate         26
2       5   Ice cream         17
3       1   Ice cream          1
4       0        Cake          2
..    ...         ...        ...
995     6    Brownies         27
996     0    Brownies         19
997     0  Pure Sugar         19
998     0     Burgers         19
999     6   Ice cream         22

[1000 rows x 3 columns]

In [7]:
df.Food.unique()

array(['Burgers', 'Chocolate', 'Ice cream', 'Cake', 'Donuts', 'Lollies',
       'Pure Sugar', 'Cheese Pizza', 'Brownies', 'Milkshakes',
       'Soft Drink'], dtype=object)

In [8]:
df.corr()

               Acne  Frequency
Acne       1.000000   0.018163
Frequency  0.018163   1.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
Acne         1000 non-null int64
Food         1000 non-null object
Frequency    1000 non-null int64
dtypes: int64(2), object(1)
memory usage: 23.6+ KB

In [10]:
df.describe()

             Acne    Frequency
count  1000.00000  1000.000000
mean      3.35900    14.646000
std       3.23923     7.674606
min       0.00000     1.000000
25%       1.00000     9.000000
50%       2.00000    15.000000
75%       5.00000    20.000000
max      10.00000    37.000000

In [14]:
print(df.loc[df.Acne < 3, "Frequency"].mean())
print(df.loc[df.Acne > 7, "Frequency"].mean())

14.5357833655706
14.878205128205128

In [20]:
correlation, pvalue = pearsonr(df.Acne, df.Frequency)
print(f"Correlation is {correlation:.3f}, with p value of {pvalue:.4f}")

Correlation is 0.018, with p value of 0.5662

In [25]:
foods = df.Food.unique()
print(foods)

['Burgers' 'Chocolate' 'Ice cream' 'Cake' 'Donuts' 'Lollies' 'Pure Sugar'
 'Cheese Pizza' 'Brownies' 'Milkshakes' 'Soft Drink']

In [28]:
alpha = 0.05
for f in foods:
    df2 = df.loc[df['Food'] == f]
    correlation, pvalue = pearsonr(df2.Acne, df2.Frequency)
    if pvalue < alpha:
        print(f'Significant correlation (pvalue {pvalue:.4f}) between {f}:{correlation:.3f}!!')
    else:
        print(f'No significant correlation for {f}')

No significant correlation for Burgers
No significant correlation for Chocolate
No significant correlation for Ice cream
Significant correlation (pvalue 0.0326) between Cake:0.229!!
No significant correlation for Donuts
No significant correlation for Lollies
No significant correlation for Pure Sugar
No significant correlation for Cheese Pizza
No significant correlation for Brownies
No significant correlation for Milkshakes
No significant correlation for Soft Drink